#root {
   .webChat {
      height: 50%;

      div[role="log"] {
         border: 1px solid #333;
      }

      .row.message {
         margin-bottom: 1rem;
      }

      .main {
            display: flex;
            align-items: center;
            border: 1px solid #333;

            form {
                  margin: 0;
            }
      }
   }
}